<!-- Create New Vacancy Section -->
<mat-card class="vacancy-form-card">
  <mat-card-title>Create New Vacancy</mat-card-title>
  <form [formGroup]="vacancyForm" (ngSubmit)="addVacancy()">

    <mat-form-field appearance="fill" class="full-width">
      <label>Company</label>
      <select matNativeControl formControlName="companyId" required>
        <option value="" disabled selected>Select a company</option>
        @for (company of companies; track $index) {
          <option [value]="company.id">
            {{ company.name }}
          </option>
        }
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>Vacancy Title</label>
      <input matInput formControlName="title" required/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>Description</label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="active">Active</mat-checkbox>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="vacancyForm.invalid">
        Add Vacancy
      </button>
    </div>
  </form>
</mat-card>
